anyio==3.7.1
fastapi==0.103.1
pydantic==2.3.0
python-multipart==0.0.6
starlette==0.27.0
SQLAlchemy==2.0.21
celery==5.3.1
uvicorn==0.23.2
# core requirements
torch==2.1.1
torchaudio==2.1.1
git+https://github.com/huggingface/transformers.git
datasets[audio]
numpy==1.26.0
accelerate
requests==2.31.0
sentencepiece
guidance
transformers
bitsandbytes
accelerate
pandas
numpy
llama-cpp-python
bitsandbytes
