anyio==3.7.1
fastapi==0.103.1
pydantic==2.3.0
python-multipart==0.0.6
starlette==0.27.0
SQLAlchemy==2.0.21
m3u8==6.0.0
celery==5.3.1
uvicorn==0.23.2
alembic==1.13.3
# core requirements
torch==2.1.1
torchaudio==2.1.1
datasets[audio]
numpy==1.26.0
accelerate
requests==2.31.0
sentencepiece
bitsandbytes
accelerate
pandas
numpy
bitsandbytes

#
watchdog==5.0.2
psycopg2-binary==2.9.9

pandas
sentence_transformers
tqdm
numpy
faiss-cpu
tabulate
guidance
bitsandbytes
transformers
accelerate
openai-whisper
yt-dlp
moviepy
