.env
.venv
.history
.app_cache/
data/**/videos/
data/**/.DS_Store
data/**/*.ipynb
data/submits/
data/data_prep/video_desc/
.idea
data/data_prep/video_desc/
downloads/
# data/
.idea


*id_ed25519
*id_ed25519.pub

data/tokenizer_all_sets
data/rnnt_model_config.yaml 
data/rnnt_model_weights.ckpt 
data/ssl_model_weights.ckpt
data/ctc_model_config.yaml 
data/ctc_model_weights.ckpt 
data/emo_model_config.yaml 
data/emo_model_weights.ckpt 
data/encoder_config.yaml 